@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: grid;
  grid-template-areas: "nav";
  font-family: "Open Sans", sans-serif;
}
.page__topnav {
  grid-area: nav;
}

.topnav {
  color: #f8f9fa;
  background-color: #212529;
}
.topnav__links {
  display: flex;
}
.topnav__link-box {
  flex: 1;
  list-style: none;
}
.topnav__link-box:hover:not(.topnav__link-box.active) {
  background-color: #343a40;
}
.topnav__link-box.active {
  background-color: #d9480f;
}
.topnav__link {
  color: inherit;
  background: 0;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
}
